<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        
         <link rel="stylesheet" href="styloListaE.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        
        <h1 class="omega" align="center"> LISTADO DE EDITORIALES </h1>
        
            <table class="tabla">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th> 
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                        
                    </tr>
                </thead>
                <tbody th:each="editorial : ${editoriales}">
                    <tr>
                        <th scope="row" th:text="${editorial.id}"></th>
                        <td th:text="${editorial.nombre}" style="font-weight: bolder;"></td>
                        <td> 
                            <p th:if="${editorial.alta}" th:text="Activo" class="activo" style="font-weight: bolder;"></p>
                            <p th:unless="${editorial.alta}" th:text="Inactivo" class="inactivo" style="font-weight: bolder;"></p>
                        </td>
                        <td>
                            <a th:href="@{/altaEditorial/__${editorial.id}__}"><button id="boton1" class="boton" type="submit">Activar</button></a>
                            <a th:href="@{/ModificarEditorial/__${editorial.id}__}"><button id="boton2" class="boton" type="submit">Modificar</button></a> 
                            <a th:href="@{/bajaEditorial/__${editorial.id}__}"><button id="boton3" class="boton" type="submit">Desactivar</button></a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        
            <a href="/">
            <button id="boton4" class="boton" type="button" >Volver</button>
            </a>
    </body>
</html>