<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" href="styloL.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 class="alfa" align="center"> ADMINISTRACION DE LIBROS </h1>
        <h2 class="alfa2" align="center">Utilice este modulo para administrar la base de datos de libros.</h2>
        <h3 class="alfa3" align="center"> Cargue los siguientes datos del libro: </h3>

        <div th:if="${exito}!=null" class="cartel">
                    <div class="cuerpo-cartel">
                    <h5 class="cartelote">Exito</h5>
                    <p class="cartelito" th:text="${exito}"></p>
                </div>
              </div>
                <div th:if="${error}!=null" class="cartel2">
                    <div class="cuerpo-cartel2">
                    <h5 class="cartelote2">Error</h5>
                    <p class="cartelito2" th:text="${error}"></p>
                </div>
                </div>
        
        
        
        <form th:action="@{/RegistroLibro}" method="POST">     

            <input class="alfa4" type="number" autocomplete="off" name="isbn" placeholder="   Isbn">
            <br>
            <br>
            <input class="alfa5" type="text" autocomplete="off" name="titulo" placeholder="Titulo">
            <br>
            <br>
            <input class="alfa6" type="datetime" autocomplete="off" name="anio" placeholder="Año de publicacion">
            <br>
            <br>
            <input class="alfa7" type="number" autocomplete="off" name="ejemplares" placeholder="Cantidad de ejemplares">
            <br>
            <br>
            <input class="alfa8" type="number" autocomplete="off" name="ejemplaresPrestados" placeholder="Ejemplares prestados">
            <br>
            <br>
            
            <label class="titulo">Autor</label>
                <select class="form-control" name="idAutor">
                    <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                </select>
            
            <br>
            <br>
            
            <label class="titulo2">Editorial</label>
                <select class="form-control" name="idEditorial">
                    <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                </select>
            
            <br>
            <br>

            <button id="boton1" class="boton" type="submit">Guardar</button>
            </form> 

          
        
        <a href="/">
            <button id="boton2" class="boton" type="button" >Volver</button>
        </a>
    </body>
</html>
