body{
    background-image:url(https://media.wsimag.com/attachments/f80c8122cb20fb640a9fff2294d29e00bafb83d1/store/fill/1090/613/8d2cb3dbc6d2de994509159ac6979c02a7972dda326bbf5e88ab801a553c/Biblioteca.jpg)
}

.alfa{
    padding: 3;
    background-color: rgba(255, 166, 0, 0.828);
    border-style:solid;
}

.alfa2{

    padding: 3;
    background-color: rgba(255, 166, 0, 0.828);
    border-style:solid;
}

.alfa3{

    padding: 3;
    background-color: rgba(255, 166, 0, 0.828);
    border-style:solid;
}

.alfa4{
    text-align: center;
    padding: 2px;
    border-style:solid;
    border-color: black;
    font-weight:bolder;
    margin: 0cm 15.3cm;
    
}

.boton{
    font-weight: bolder;
    text-align:center;
    width:69px;
}

#boton1{
    background-color: rgb(23, 207, 23);
    position: absolute;
    left: 43%;
    margin-top: 1%;
}

#boton2{
    background-color:rgb(235, 31, 31);
    position: absolute;
    left: 51.3%; 
    margin-top: 1%;
}
