body{
    background-image:url(https://media.wsimag.com/attachments/f80c8122cb20fb640a9fff2294d29e00bafb83d1/store/fill/1090/613/8d2cb3dbc6d2de994509159ac6979c02a7972dda326bbf5e88ab801a553c/Biblioteca.jpg);
    
}

.alfa{
    padding: 3;
    background-color: rgba(255, 166, 0, 0.828);
    border-style:solid;
}

.alfa2{

    padding: 3;
    background-color: rgba(255, 166, 0, 0.828);
    border-style:solid;
}

.alfa3{

    padding: 3;
    background-color: rgba(255, 166, 0, 0.828);
    border-style:solid;
}

.botonimagen{
    background-image:url(https://lh3.googleusercontent.com/JICSjgX8ownPt9YwF36Fng9MRxD4aA6Jmb0mlc0f2lMmnOF-kRBtL2SjoCB-qdugaZQaTmKZkqqwas74aJB4EB3RiutJdgtgTOb8DlDm8jox2i0SxyNPeKmvScbToM-sFQ9s2lw5ualEEgD2MhVwWL81pPya7d8hcVk80thahtFC9-7pIs4F0e4U7XA4NtSFzc1zeEHGpHg-cfnk7xBGNXHA2J0ZOYtKBdVRJd5WLLkH0cAg6c6S-CeyDrw4x4eQvuTlqbwczK0_7K_CbEPLNRxOIhYm_plIXCr993rKNGtr7x0iHQ3SAz2P74J_B8MT_hgarPyVihFz8nmyOO_Zh89HqJmoVOXgR_edPNsMFONtYzUXR1KZxP8jYeg-p9UmXkayDMrZPIx-6_qfQhSf2Hl6zngtzq703ZrQ31SY9GauI0mGTkxZrIaUP2W7MTctWa3NFdww2HEd3PYsA0ohLboKwQ3LDyz-BQhLKwqMY4u0w8_5aUYqZh8N2SGzJivAVA-gmf-JavVdJtdOFCItChJQGsvWphKzyGV6BdnMz7u9sPiKjOkAZjpdpXPQ_mIcK8mmMbyyQsNqU9Dy3OkBIISEL-rERA1PiZd2XLlsv9EliceownA4Y2EUZk1o6qi2WZ-bhzT0-QTsABcPSKPDrZW_PzQXRg208s-1rkEQd5PiYvzsBeqd4f8fxnMZUBlE8frTd3Nm-Vpc6UoEqxvZpdo=s230-no?authuser=0 );
    font-weight: bolder;
    background-repeat:no-repeat;
    height:233px;
    width:231px;
    background-position:center;
   font-size: 120%;
   font-style:italic;
   position: absolute;
    left: 10%;
    margin-top: 0.1%;
    cursor:pointer;
    
}

.botonimagen2{
    background-image:url(https://lh3.googleusercontent.com/ohETFbL6FHYQwWf5aW2jPVXm2xOKPgnu1V1hVUhNu0bqpyfJHOEcSDxIMJ5O673guGU2LIoqjyRyR7B46_KY1YQZM7Q7IHPl1Ot59M-RigF23JiqITuVMFuvyqn64vxJFDndFRjzo5hCy2ngArBxMLT0uOxEqvjhxx5LUeL39ST4Uy_LFO_PtUBSfllDDGqUFNYnwhDUBV--F4-xDp45tMPvTaafV94RiLcHOGDTxy8-pnji9TmJfSMDJXCStbWQk6txPvA1qEz6z4sXPf2lV_WtASkwHv5Y3kECK-T2rt4iza2R8JZSFNFUyMnmyJR6e8qOogD8D0-wOJ7z40SYbkYtifTKqA2Tb6vEJl1j3VEw4BFSllzzfpbwVfj2xXt66iOVPvRnhXCTSkVcK3VOlvZheRmnNZaztwAGAn1Kwc2gtP14O48O97jM9MNrNIM0rR_WlHRH_lmPb9KxEJvkqaE3ngOdhc5BWUFql4q4POOms53UOqoAsZeJfw2bWfZt8Pr0TGKDLJQeq5OG_yIeBlUChbXJWgbNpyH059HFhzgM5P1RJmcUEF9Toyn4MEUhRvReq112G9HYJz5CVStqjnUgVg6mbR4iccARpLd8S80HCB6_U23uCHoz4dg4KIyKbFHjpk6xLC87-MZcyxj92Jv2BLmz_YxL-qjgBuQWPfng8yZ9DEycFXNmHC9SFCtMOTUeeJiMNG0Ng1-LLKZZ6lM=s230-no?authuser=0);
    font-weight: bolder;
    background-repeat:no-repeat;
    height:233px;
    width:231px;
    background-position:center;
   font-size: 120%;
   font-style:italic;
   position: absolute;
    left: 10%;
    margin-top: 18%;
    cursor:pointer;
    
   
}

.botonimagen3{
    background-image:url(https://lh3.googleusercontent.com/7i2H1y8K04b-sNY-zgM0V5lSTJXuMEDZeFJzr7CoGZ73jsqtmtY7OIJ-fo0gheEyKyeYfQMBt85USqrCEYIxypaCJpTTkTt4R-4QzyAi2RqGdKC3ChOvywJNqSVB-Qy0jyhGrN7IUpH8NNpiO25dMmwqCifHXYbRavTcVg0_5URNdG1XhEmCVhKKmhgD-Nw1nZ7U3XZNePiSgfyM3uh6L4ua-OPt5Q_iVJ7x2G_xXPB-QErtUgN8pGohiaJKGgI2K34-L1aJCP50fU_rAPkVvtQFor2YHbcfVMlhddgOUjmPH48c1UGHndaDvk-Zn3DeuaOndAkbBhLZ-ctARHgZfZcmTlYyhTVIP1-ioIiyGrBgAvqL6fEQBQjBQy1Xc1owA4OhOvtPS4bue8Iqm9fHRwzxgjmWSATWvG1cKfXSuArPVsbfarqb7vXuQS6lvDp4wdvov074NrH6vRnv7VqJcuWS-3WBFpF6sWL3Zk64riqpNKYJ1QGQrpVmA9j1cT_jiBKvH-PFVoshC_vDxJYbkgi4gZTS4U2lqPN6lHUsS_gy0WTn6XqVMi-LaIAvjVAId_lLaKAeR8xJSKGaOz6tMrF617v6dWqyH8ZDukWectFfB6PrrENxcB5Dff5Ott5L9cWF7moai31DX05PK6Ms7OWyozfGFHNlyz6cpVzyoFm0PJCxiNMqV-8qWEmfpkIQxYjIItjfXyIgSbdGfA37ZZ0=s230-no?authuser=0);
    font-weight: bolder;
    background-repeat:no-repeat;
    height:233px;
    width:231px;
    background-position:center;
   font-size: 120%;
   font-style:italic;
   position: absolute;
    left: 43.5%;
    margin-top: 0.1%;
    cursor:pointer;
    
}

.botonimagen4{
    background-image:url(https://lh3.googleusercontent.com/p6foN6LobRCX19_b_Eu3chADVOewp8saqGHAwHiHs1X-sIrVfD0tli1HDw3IECG0NE70qm_Ta6u5Uu90G95Qe44ffaNAxDmsG25v7KUUL_njvWjqjkFCQcZnFeka6N9Y3rxvF9nWVRXxmTAt2ZkX4zukGA0Jd98s_CcvMnCYWwAKS_3bWLWGBnEbv1-OetvQXiNuTPrDGs-UQveINJiSkv55RbeYbm0jehIDJxqTm-XoA7wcii8C5FZAWHI-XhZiHPwr4kNFGfHL4Jm6wfm1mnzwnRdTCwCtgfKoioIDbKhUvAAXx7lAccC9mZpA9uq5Kyfd4fBBEZ2NMdRRXLsMN2tznT1L7nA73vqzJWvkX_uiZhw_tyNshdbxlG3C_Xn2W3RHzPq9-bIY94CCFjs5uPAUuRobdZi3aVeFO56HOLDD2Xg99S9nSHK9o1U6eKX1HRdD9g6l4Px88-__tANyhWRn85Vp9DwqYkPaCqk_V2FZpQBmINiHnqEy5MliBWS6plRtE2hRdLnNvEVSNDwS3-Fhf-fYSEpvo88Q2fMxDSL9brFYgEHJLIe7DYgTFiebiQ9TZ3iOWujlURQtg14Tw6l3xljS-rQqqYWFqqM9IH6wuRUpE1JVS_RG8N6lVyvxM0j1gNCyoqvAw8ZegsFqDVqXRE-se107X7BRT7mF7HM6B7mZ5bGnngeEDmm16UyHW7GjZe3m3n69OV4QemHANLQ=s230-no?authuser=0);
    font-weight: bolder;
    background-repeat:no-repeat;
    height:233px;
    width:231px;
    background-position:center;
   font-size: 120%;
   font-style:italic;
   position: absolute;
    left: 76.5%;
    margin-top: 0.1%;
    cursor:pointer;
    
   
}

.botonimagen5{
    background-image:url(https://lh3.googleusercontent.com/K2e93Pee8WaGiAw5Sthuo_f07yIc6_GF7baM3ciOJiatwS2x5_L8Okaj66TCHtUw3ZKLPh_NZllcB57EXDP3qs__CN1SJBT8wLiFS59QnTLAWcB0iOyliU6s7PmZ8qWjbqFDhlhPb3B6JgpldU_jpvqI1DTAu2XwVfR78qYPdp0FANi0L801qC3TCY2l5Y3AC2eUHKDdX8jASBFX9ehGG1dR3rwU-P5bLlgpR_8rsKmevi6e6pBeRYm6rAkThDUsmKSOY2JLeFXkWK8RDf-zyF05ZkcltrfXx6qXp4D5GVIzvl7j71hMZk7WqiAFZniKsSQvtdgjDSMmHb5hNtcefwxE3BzDqwGkxZlkO6q0WMlUHWm4uETKkoK-lc7JKmCaP2gT3Sme5hzdBlX2Yi_dPQdM7QjkXcTCz0f-HTcFEIcMCnJMdey7RDd916dIlvPyAHgEsIfGyL1lkXzTxIPhSdr-cp5HyYg-0S5d9GqRsTw_jsn4jeG_YoO20AGu3YGfszxK_OKGQijTtDJa8piWn_Y1ToxsTcBRCjJKWTDHuGCgxj0RmMr2G794xmpuFMgY6KoMusDYDy_g0hHhxJ-o8UUDGYr0IjZHEdiiMHVIvPIvhlIvg_tXze1tndkf9K4bE8W0JrYa1grJqm4WPhtxNgWRq6xNgmaJYHRT8N8XQNuoWpfKqfvU6mYURx4ioF6ADVVbFIyQiZSHuDjAh5vSMOY=s230-no?authuser=0);
    font-weight: bolder;
    background-repeat:no-repeat;
    height:233px;
    width:231px;
    background-position:center;
   font-size: 120%;
   font-style:italic;
   position: absolute;
    left: 76.5%;
    margin-top: 18%;
    cursor:pointer;
    
   
}

.botonimagen6{
    background-image:url(https://lh3.googleusercontent.com/Vf5AsHO2n5CGoh-WLFXTSmjETOWdX_TOGefRozY4HSqAg7OhA7lB11frDeBDgK99NN37hjxgBw77625WSQe13u0-l5q4BeQwIOS8yXaEpFlxnyWKENLu0pqWaZO__57jKzInLNz17En6GJr_8vJAKXgx_9Od_9VuV-c39Gfy4PgbD1sGBzd0Ze5R155nRfxJuHUUbnGMbyy6sNVyx39RYamkbASDKoPwxXW1IagJL5Y5m650fo9Lg0ooyPI-Y13gDwbU2GBSaL93SiIHQASGBqeMniCqfHGVSEowRPAE6ajBRQIaV-rD1YA5Do0yUFF5VU39We4VdC7X2DzU2UWrGDHQFmisTB2AMCo0xilQwu3xf1sfi1poKvO32UTZXW3IJLJkRIZMZbPCsF2bAlnxVBqB6lK4A05OqNGOTczklj5AFtu7zox4lxciRwQxkyXH2FpxQyJ0TjU8Z1DFSgIXQZCYFyYzZdTw3zF80JePzMyXqkYQuudYusD94IkKWIejRUH_j8dVSXReG-cUClaKaJ-JQT7ZfoYh-20lCEpSLPK-eGB_Wn5GL4p_3Y-OwMMvvdhfQmuHTjYrwwz9kp-bcAQChJyhJYuxOdoCeOxkz0l_eb9fCtNgasgRN1f2vkNv46hADeAeSG3jalETrZPIabulEUZuMbe0WAn-o3EUPKjgCb7WUWhQ8lDIzFZXMpQYKFzYSPYGGGoW-pcCkmA623I=s230-no?authuser=0);
    font-weight: bolder;
    background-repeat:no-repeat;
    height:233px;
    width:231px;
    background-position:center;
   font-size: 120%;
   font-style:italic;
   position: absolute;
    left: 43.5%;
    margin-top: 18%;
    cursor:pointer;
    
   
}

